<section class="sign-up-section">
  <%= render "shared/sign_up_background" %>
  <div class="sign-up-container border border-2 p-10">
    
    <%# <figure class="flex items-center  justify-center">
      <img src="https://images.unsplash.com/photo-1496262967815-132206202600?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1846&q=80" class="w-[200px] blur-sm" alt="sign-up-image">
    </figure> %>
    

      <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <%= render "devise/shared/error_messages", resource: resource %>


        <div class="field flex items-center  my-5 border-b px-5 py-3 border-b-blue-500">
          <i class="fas fa-user me-4"></i>
          <%= f.text_field :name, autofocus: true, autocomplete: "name", class: 'outline-none bg-inherit ', placeholder: 'Username' %>
        </div>


        <div class="field my-5 flex items-center border-b px-5 py-3 border-b-blue-500 ">
        <i class="fas fa-user me-4"></i>
          <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'outline-none bg-inherit ', placeholder: 'Username' %>
        </div>

        <div class="field flex items-center  my-5 border-b px-5 py-3 border-b-blue-500">
          <i class="fas fa-lock me-4"></i>
          <%= f.password_field :password, autocomplete: "new-password", class: 'outline-none bg-inherit ', placeholder: 'Password' %>
        </div>

        <div class="field flex items-center  my-5 border-b px-5 py-3 border-b-blue-500">
        <i class="fas fa-lock me-4"></i>
          <%= f.password_field :password_confirmation, autocomplete: "new-password", class: 'outline-none bg-inherit ', placeholder: 'Confirm Password' %>
        </div>

        <div class="actions w-full text-center sign-up-btn rounded-md">
          <%= f.submit "Sign up", class: ' px-5 py-3  uppercase text-white' %>
        </div>
      <% end %>

        <%= render "devise/shared/links" %>

  </div>
</section>