<%= render "shared/navbar" %>
  <h1 class="my-5 text-4xl font-bold text-center">New Recipe</h1>
  <div class="flex justify-center py-3">
  <%= form_with model: @recipe, url: recipes_path ,class: "grid gap-1" do |form| %>
      <%= form.label :name, "Recipe name :" %>
      <%= form.text_field :name, class: "border border-slate-200" %>
      <%= form.label :description, "Recipe description :" %>
      <%= form.text_field :description, class: "border border-slate-200" %>
      <%= form.label :preparation_time, "Preparation time :" %>
      <div class="flex gap-2">
        <%= form.number_field :preparation_time_hr, value: 0 , class: "border border-slate-200 w-1/5 text-center"%>
        <%= form.label :preparation_time_hr, "hr",class: "w-1/12" %>
        <%= form.number_field :preparation_time_min, value: 0 , in: 0..60, class: "border border-slate-200 w-1/5 text-center"%>
        <%= form.label :preparation_time_min, "min",class: "w-1/12" %>      
      </div>
      <%= form.label :cooking_time, "Cooking time :" %>
      <div class="flex gap-2">
        <%= form.number_field :cooking_time_hr, value: 0, class: "border border-slate-200 w-1/5 text-center"%>
        <%= form.label :cooking_time_hr, "hr",class: "w-1/12" %>
        <%= form.number_field :cooking_time_min, value: 0, in: 0..60, class: "border border-slate-200 w-1/5 text-center"%>
        <%= form.label :cooking_time_min, "min",class: "w-1/12" %>      
      </div>
      
      <div class="flex justify-center col-span-2 gap-3 mt-3">
        <%= form.check_box :public %>
        <%= form.label :public, "Made recipe public" %>
      </div>
      <div class="flex justify-center col-span-2 mt-3">
          <%= form.submit "Add new recipe", class:"bg-blue-500 text-white px-4 py-2 rounded-3xl cursor-pointer hover:bg-blue-400" %>
      </div>
  <% end %>
</div>
