<section class="navbar-section py-4 bg-purple-100">
    <ul class="navbar-container flex justify-around">
        <li class="px-6 rounded-2xl py-3 text-white bg-blue-500 hover:bg-blue-300 cursor-pointer transition-all"><%= link_to "Public Recipes", public_recipes_path %></li>
        <li class="px-6 rounded-2xl py-3 text-white bg-blue-500 hover:bg-blue-300 cursor-pointer transition-all"><%= link_to "My Recipes", recipes_path %></li>
        <li class="px-6 rounded-2xl py-3 text-white bg-blue-500 hover:bg-blue-300 cursor-pointer transition-all"><%= link_to "My Ingredients", foods_path %></li>
        <li class="px-6 rounded-2xl py-3 text-white bg-blue-500 hover:bg-blue-300 cursor-pointer transition-all"><%= link_to "Shopping List", shopping_lists_path %></li>
        <li class="px-6 rounded-2xl py-3 text-white bg-blue-500 hover:bg-blue-300 cursor-pointer transition-all"><%= link_to "Sign Out", sign_out_user_path %></li>
    </ul>
</section>