<% if request.path == "/" || request.path == "/public_recipes" %>
  <a href="<%= recipe_path(recipe) %>" class="rounded-xl border-box bg-green-100 outline outline-transparent hover:outline-purple-600 hover:opacity-80 p-5 w-full sm:w-1/3 lg:w-1/4 xl:w-1/5">
    <h2 class="capitalize font-bold text-2xl text-center">
      <%= recipe.name %>
    </h2>
    <p class="text-sm text-center text-slate-400">
      by <%= recipe.user.name %>
    </p>
    <div class="line-clamp-2 text-slate-500">
      <%= recipe.description %>
    </div>
    <div class="flex w-full justify-evenly p-2">
      <div class="flex flex-col gap-1 py-3 text-center bg-white p-2 rounded-lg">
        <h2 class="capitalize">Time</h2>
        <div class="flex text-sm justify-evenly">
          <% if recipe.total_time_hours > 0 %>
            <%= "#{recipe.total_time_hours} hr" %>
          <% end %>
          <% if recipe.total_time_minutes > 0 %>
            <%= "#{recipe.total_time_minutes} min" %>
          <% end %>
        </div>
      </div>
      <div class="flex flex-col gap-1 py-3 text-center">
        <h2 class="capitalize">Cost</h2>
        <div class="flex text-sm justify-evenly">
            Todo $
        </div>
      </div>
    </div>
  </a>
<% else %>
  <div class="rounded-xl flex items-center justify-between border-box bg-green-100 outline outline-transparent hover:outline-purple-600  p-5 w-full m-2 max-w-[500px]">
    <a href="<%= recipe_path(recipe) %>" class="rounded-xl flex items-center p-5 hover:scale-105 transition-all">
      <div>
        <h2 class="capitalize font-bold text-2xl text-left">
          <%= recipe.name %>
        </h2>
        <div class="line-clamp-2 text-slate-500">
          <%= recipe.description %>
        </div>
      </div>
    </a>

    <div class="text-right">
      <%= button_to 'Delete', recipe_path(id: recipe.id), method: :delete, class: 'border px-3 py-1 text-white bg-red-500 my-5 rounded-lg hover:scale-105 transition-all' %>
    </div>
  </div>
<% end %>