
<%= render "shared/sign_up_background" %>
<div class="sign-up-container border border-2 p-10">
   <figure class="flex items-center  justify-center w-[300px] rounded-md overflow-hidden">
      <img src="https://images.unsplash.com/photo-1555396273-367ea4eb4db5?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1974&q=80" class="w-full" alt="sign-up-image">
    </figure> 

  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
   <div class="field my-5 flex items-center border px-5 py-3 border-black ">
        <i class="fas fa-user me-4"></i>
          <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'outline-none bg-inherit   ', placeholder: 'Username' %>
        </div>


  <div class="field flex items-center  my-5 border px-5 py-3 border-black">
          <i class="fas fa-lock me-4"></i> 
          <%= f.password_field :password, autocomplete: "new-password", class: 'outline-none bg-inherit   ', placeholder: 'Password' %>
        </div>


  <% if devise_mapping.rememberable? %>
    <div class="field">
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me, class:'font-semibold' %>
    </div>
  <% end %>



  <div class="actions  text-center sign-up-btn rounded-md mt-5">
    <%= f.submit "Log in", class: 'px-5 py-3  uppercase text-white' %>
  </div>

        <%= render "devise/shared/links" %>



<% end %>

</div>

